/* header */
* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.main {
  background:rgb(87, 86, 85);
  text-align: center;
  color:rgb(155, 213, 252);
  font-family: sans-serif;
  font-size: 2.5rem;
  margin-top: 200px;
  padding: 100px 100px 100px 100px;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
  background:rgb(199 230 252);
  font-family: "Raleway", sans-serif;
}
.circle {
  margin: auto;
  position: absolute;
  top: 0;
  left: 70;
  bottom: 20;
  right: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 0.2em solid #adadad;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  background: #eeeeee;
}
.push-btn-container {
  position: absolute;
  width: 89px;
  height: 90px;
  top: 0.1em;
  left: 0.1em;
  border-radius: 50%;
  border: 0.2em solid #f5f5f5;
  box-shadow: inset 0 0 12px #191919;
  overflow: hidden;
  background: #0c1618;
}
.centering {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.push-toggle {
  border-radius: 50%;
  background: #0c1618;
  height: 70px;
  width: 70px;
}
.push-toggle:before {
  box-shadow: 0 0 8px 4px rgba(0, 230, 255, 0.99);
  border-radius: 50%;
  background: rgba(0, 230, 255, 0.99);
  position: absolute;
  margin-left: -1.5em;
  margin-top: -1.5em;
  opacity: 0.2;
  content: "";
  height: 50px;
  width: 50px;
  left: 50%;
  top: 50%;
}
.push-toggle .push-button {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: blur(1px);
  transition: all 300ms cubic-bezier(0.12, 1, 0.15, 1);
  box-shadow: 0 7px 6px -2px #236b6c, inset 0 -2px 2px -1px #46c1c3,
    0 -5px 7px -1px #236b6c, inset 0 3px 2px -1px #46c1c3,
    inset 0 0 5px 1px #287a7b, inset 0 5px 8px 0 #236b6c;
  border-radius: 50px;
  position: absolute;
  background: #194c4d;
  margin-left: -1.4em;
  margin-top: -1.4em;
  display: block;
  height: 35px;
  width: 35px;
  left: 55%;
  top: 55%;
}
.push-toggle .push-btn-label {
  transition: color 300ms ease-out;
  top: 2.6em;
  left: 3.5em;
  text-align: center;
  position: absolute;
  font-size: 0.35em;
  display: block;
  height: 25%;
  width: 45%;
  color: #191919;
}
.push-toggle input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  height: 90%;
  width: 90%;
  right: 0.7em;
}
.push-toggle input:active ~ .push-button {
  box-shadow: 0 7px 15px -2px rgba(0, 0, 0, 0.2),
    inset 0 -4px 15px 1px rgba(255, 255, 255, 0.5),
    0 -5px 8px -1px rgba(255, 255, 255, 0.3),
    inset 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 5px 1px rgba(255, 255, 255, 0.3);
}
.push-toggle input:active ~ .push-btn-label {
  font-size: 2em;
  color: rgba(0, 230, 255, 0.99);
}
.push-toggle input:checked ~ .push-button {
  box-shadow: 0 7px 8px -2px rgba(0, 0, 0, 0.2),
    inset 0 -4px 8px -1px rgba(255, 255, 255, 0.4),
    0 -5px 6px -1px rgba(255, 255, 255, 0.3),
    inset 0 4px 10px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 3px 1px rgba(255, 255, 255, 0.3);
}
.push-toggle input:checked ~ .push-btn-label {
  top: 2.6em;
  color: #c3eb78;
}
.dark-mode {
  background:#0c1618;
}
.dark-mode .username {
  box-shadow: inset 2px 2px 5px  #0d0d0e,
              inset -5px -5px 10px #0c0c0c;
}
.dark-mode .password {
  box-shadow: inset 2px 2px 5px  #0d0d0e,
              inset -5px -5px 10px #0c0c0c;
}
.dark-mode .email {
  box-shadow: inset 2px 2px 5px  #0d0d0e,
              inset -5px -5px 10px #0c0c0c;
}
.dark-mode .box{
  background: #0c1618;
   box-shadow: 13px 13px 20px #0c0c0c,
   -13px -13px 10px #0d0d0e;
}
.dark-mode .toggle-btn
{
  box-shadow: 13px 13px 20px #0d0d0e,
-13px -13px 20px #0c0c0c;
}
.dark-mode .toggle-btn::before
{
  box-shadow: 13px 13px 20px #232324,
-13px -13px 20px #0c0c0c;
}
.dark-mode .toggle-btn::after
{
  box-shadow: 13px 13px 20px #232324,
-13px -13px 20px #0c0c0c;
}
.dark-mode .signup-btn
{
  box-shadow: 13px 13px 20px #232324,
-13px -13px 20px #0c0c0c;
   background:rgb(185, 107, 185);
}
.dark-mode .link a {
  text-decoration: none;
  color:rgb(128, 122, 122);
  font-size: 15px;
}

.light-mode {
  margin: top;
  right: 8783rem;
  color: #0c1618;
  top: -8em;
  left: 0.5em;
}

/* Login form */

.box{
  width: 350px;
  height: 500px;
  background:rgb(199 230 252);
  padding: 60px 35px 35px 35px;
    border-radius: 40px;
    box-shadow: 13px 13px 20px #70a19f,
               -13px -13px 20px #e4ffff;
    position: relative;
    overflow: hidden;
}
.signup{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 400px;
  transition: 0.5s;
  border-radius: 40px
}
.login{
  position: absolute;
  bottom: 0;
  left: 101%;
  width: 100%;
  height: 400px;
  border-radius: 40px; 
  transition: 0.5s;
}
.input-group{
  width: 95%;
  padding: 15px 5px 5px 5px;

}
.input-group input {
  border: none;
  outline:none;
  background: none;
  font-size: 21px;
  text-align: justify;
  color: black;

  
  padding:15px 10px 15px 5px;
}
/* CSS for icons */
.material-icons{
  height: 25px;
  margin:0 10px -3px 20px;
  padding:10px 0px 15px 5px;
  color: gray;
}
.username, .password, .email {
  margin-bottom: 20px;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #9fd6d2,
              inset -5px -5px 10px #96dff5;
}
/* CSS for signup button starts from here */
.signup-btn  {
  margin: 10px 0px 0px 80px;
  outline: none;
  border:none;
  cursor: pointer;
  width: 50%;
  height: 50px; 
  border-radius: 30px;
  font-size: 20px;

  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color:#fff;
  text-align: center;
  background: rgb(185, 107, 185);
  box-shadow: 3px 3px 8px #000,
              -3px -3px 8px white;
  transition: 0.5s;
}
.signup-btn:hover {
  
  background:#c1bbdd;
  box-shadow: inset 3px 3px 8px #9fd6d2,
              inset -3px -3px 8px #dcddd9;
  color: black;
}
.signup-btn:active {
  background: #c1bbdd;
  box-shadow: inset 3px 3px 8px #9fd6d2 ,
              inset -3px -3px 8px #dcddd9 ;
}
/* CSS For Login page starts*/
.input-signin {
  width: 95%;
  padding: 75px 5px 5px 5px;
}
.input-signin input {
  border: none;
  outline:none;
  background: none;
  font-size: 22px;
  color: black;
  padding:20px 10px 20px 5px;
}
.input-signin svg {
  height: 20px;
  margin:0 10px -3px 20px;
}
.link {
  padding-top: 20px;
  text-align: center;
}
.link a {
  text-decoration: none;
  color:black;
  font-size: 15px;
}
/* CSS For Toggle button starts*/
.toggle-btn{
  -webkit-appearance: none;
  width: 150px;
  height: 40px;
  border: 1px ;
  position: absolute;
  top: 40px;
  left: calc(50% - 75px);
  border-radius: 100px;
  box-shadow: inset 3px 3px 8px #9fd6d2,
              inset -3px -3px 8px #87ece7 ;

}
.toggle-btn:before{
  content: 'Sign Up';
  font-weight: bolder;
  color: white;
  position: absolute;
  top: 0;
  left:0;
  width: 55%;
  height: 100%;
  background-color:#966fd6;
  border-radius: 100px;
  display: grid;
  place-items: center;
  transition: 0.5s;
  box-shadow: 3px 3px 8px #9fd6d2,
              -3px -3px 8px #8df8fc ;
}
.toggle-btn:checked:before{
  content: 'Login';
  font-weight: bolder;
  color: white;
  position: absolute;
  left:50%;
}
.toggle-btn:checked + .signup{
  left: -101%;
}
.toggle-btn:checked + .signup + .login{
  left: 0%;
}


/* css code for login/signup ends here */
