body {
    text-align: center;
}

h1 {
    font-family: dancing script;
     font-size: 70px;
    margin: 0.2em;
}
.color_change{
    margin:0 auto;
    text-align: center;
    color: #313131;
    font-size: 80px;
    font-weight: bold;
    animation: colorchange 6s infinite alternate;
    
}
@keyframes colorchange{
    0% {
        
        color: blue;
      }
    5%{
        color: #4cb332;
    }  
      10% {
        
        color: #8e44ad;
      }
      15% {
        
        color: #b84352;
      }  
      20% {
        
        color: #1abc9c;
      }
      25% {
        
        color: #d61ba7;
      }
      
      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: blue;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: blue;
      }
      
      70% {
        
        color: #383a3b;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: pink;
      }

}

h2 {
    margin: 1em 0 0.25em;
    color: white;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table, tr, td {
    border: 1px solid rgb(255, 255, 255);
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 40px;
}

td {
    width: 40px;
}


.btn {
    margin: 10px;
    background: -webkit-linear-gradient(to left, #424e34,#91ff14);
}




 *{
    margin: 0px;
    padding: 0px;
}

.area{
    background: rgb(0, 0, 0);  
    background: -webkit-linear-gradient(to left, #363583, #1b25e4);  
    width: 100%;
    height:100vh;
    
   
}

.form-group{
    color: white;
}

html, body {
    height: 100%;
}
body {
    background: black;
}
.wrap {
    position: relative;
    top: 70%;
    left: 50%;
    width: 0;
    height: 0;
    transform-style: preserve-3d;
    perspective: 1000px;
    animation: rotate 25s infinite linear;
}
@keyframes rotate {
    100% {
        transform: rotateY(360deg) rotateX(360deg);
   }
}
.c {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 0;
}
.c:nth-child(1) {
    animation: orbit1 25s infinite;
    animation-delay: 0.01s;
    background-color: rgba(255, 85, 0, 1);
}

#b-margin{
  padding-bottom: 30px;
}