* {
    box-sizing: border-box;
}

body {
    text-align: center;
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    color: #555;
    background: linear-gradient(-30deg, #ff6473 0%, #c75080 50%, #262626 50%, #373a40 100%);
    background-attachment: fixed;
    background-repeat: repeat-x;
}

h1 {
    font-family: Lobster;
    font-size: 70px;
    margin: 0.2em;
    color: #fff;
}

h2 {
    color: antiquewhite;
    font-family: Lobster;
    font-size: 2.3em;
    font-weight: 100;
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table, tr, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 50px;
}

td {
    width: 50px;
}

input[type=number] {
    width: 6em;
    margin: 0.5em;
}

input[type=number]:invalid {
	color: red;
}

.box {
    padding: 10px;
    height: 220px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
}

.form-group {
    color: #fff;
}

.btn {
    margin: 10px;
}