body {
    text-align: center;
}

h1 {
    font-family: dancing script;
     font-size: 70px;
    margin: 0.2em;
}
.color_change{
    margin:0 auto;
    text-align: center;
    color: #313131;
    font-size: 80px;
    font-weight: bold;
    animation: colorchange 6s infinite alternate;

}
@keyframes colorchange{
    0% {
        
        color: blue;
      }
    5%{
        color: #4cb332;
    }  
      10% {
        
        color: #8e44ad;
      }
      15% {
        
        color: #b84352;
      }  
      20% {
        
        color: #1abc9c;
      }
      25% {
        
        color: #d61ba7;
      }
      
      30% {
        
        color: #d35400;
      }
      
      40% {
        
        color: blue;
      }
      
      50% {
        
        color: #34495e;
      }
      
      60% {
        
        color: blue;
      }
      
      70% {
        
        color: #383a3b;
      }
      80% {
     
        color: #f1c40f;
      }
      
      90% {
     
        color: #2980b9;
      }
      
      100% {
        
        color: pink;
      }

}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table, tr, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 40px;
}

td {
    width: 40px;
}


.btn {
    margin: 10px;
    background: -webkit-linear-gradient(to left, #424e34,#91ff14);
}




*{
    margin: 0px;
    padding: 0px;
}

.area{
    background: rgb(141, 109, 192);  
    background: -webkit-linear-gradient(to left, #363583, #1b25e4);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display:block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 50s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left:20%;
    width: 60px;
    height:60px;
    animation-delay: 3s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
.circles li:nth-child(11){
    left: 45%;
    width: 45px;
    height: 45px;
    animation-delay: 20s;
    animation-duration: 35s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}