{% extends 'base.html' %}
{% block title %}Change Password{% endblock title %}
{% block body %}
	<div class="content">
		<div class="text"> Change Password</div>
		<form action="" method="post">
			{% csrf_token %} 
			<div class="field">
				<span class="fas fa-lock"></span>
				<input type="password" required name="current_password">
				<label>Current Password</label>
			</div>
			<div class="field">
				<span class="fas fa-lock"></span>
				<input type="password" required name="new_password">
				<label>New Password</label>
			</div>
            <div class="field">
				<span class="fas fa-lock"></span>
				<input type="password" required name="confirm_password">
				<label>Confirm Password</label>
			</div>
			<button>submit</button>
			
		</form>
    	<!-- <button class="google"><i class="fab fa-google"></i> sign in with Google</button>
		<button class="facebook"><i class="fab fa-facebook-f"></i> sign in with Facebook</button> -->
	</div>
{% endblock body %}