<!DOCTYPE HTML>

<head>
  <title>Login/Signup Form</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/login.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: calibri;
      outline: none;
    }

    body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    i {
    margin-left: -10px;
    cursor: pointer;
}
  </style>
</head>

<body>
  <!-- Code for header -->
  <div class="circle">
    <div class="push-btn-container">
      <!--     <div class="centering"> -->
      <div class="push-toggle">
        <input onclick="myFunction()" type="checkbox">
        <span class="push-button"></span>
        <span class="push-btn-label">
          <!-- <i class="fa fa-lightbulb-o" aria-hidden="true"></i> -->
          <i class="fa fa-lightbulb-o" style="font-size:42px;"></i>
        </span>
      </div>
    </div>
  </div>


  <!-- </div> -->
  <div class="box">
    <input type="checkbox" class="toggle-btn" name="">

    <!-- Code for Signup section begins -->
    <div class="signup">
      <form action="/signup/" method="post">
        {% csrf_token %}
        <div class="input-group">
          <div class="username">
            <span class="material-icons">person</span>
            <input type="text" name="username" class="user-input" placeholder="Username" />
          </div>

          <div class="email">
            <span class="material-icons">email</span>
            <input type="email" name="email" class="user-input" placeholder="Email" />
          </div>

          <div class="password">
            <span class="material-icons">lock</span>
            <input type="password" name="password" id="password1" class="pass-input" placeholder="Password" />
            <!-- <i class="far fa-eye" id="togglePassword1"></i> -->
          </div>

          <div class="password">
            <span class="material-icons">check_circle</span>
            <input type="password" name="cpassword" id="password2" class="pass-input" placeholder="Confirm Password" />
            <!-- <i class="far fa-eye" id="togglePassword2"></i> -->
          </div>

          <button class="signup-btn" type="submit">Sign Up</button>
        </div>
      </form>
    </div>

    <!-- code of signup section ends -->

    <!-- Code for Login section begins -->
    <div class="login">
          <form action="/login/" method="post">
            {% csrf_token %}
          <div class="input-signin">
            <div class="username">
              <span class="material-icons">person</span>
              <input type="username" name="username" class="user-input" placeholder="Username" />
            </div>
    
            <div class="password">
              <span class="material-icons">lock</span>
              <input type="password" name="password" id="password3" class="pass-input" placeholder="Password" />
              <!-- <i class="far fa-eye" id="togglePassword3"></i> -->
            </div>
    
            <button class="signup-btn">Sign In</button>
            <div class="link">
              <a href="#" onclick="document.getElementById('id01').style.display='block'">Forgot password?</a>
            </div>
          </div>
        </div>
      </form>
      </div>
    
      <!-- login ends here -->
  <!-- Forgot password section -->

  <div id="id01" class="modal">
    <form class="modal-content animate" action="#" method="post">
      <div id="forget-password" class="container" >
        <span class="material-icons lock-image" style="font-size:140px; ">lock</span>
        <h1><b>Forgot Password ?</b></h1>
        <p>you can reset your password here</p>
        <div class="email">
          <span class="material-icons">email</span>
          <input type="email" class="user-input" placeholder="Enter your Email" name="uname" />
        </div>
        <button type="submit">Send My Password</button>
        <div class="container">
          <button type="button" onclick="document.getElementById('id01').style.display='none'"
            class="cancelbtn">Cancel</button>
        </div>
      </div>
    </form>
  </div>

  <br>
  <br>
  <br>
  <br>
  <!-- Code for Login section ends -->

  <!-- ***** FOOTER ******   -->
  <footer class="footer-sec " style="text-align:center;">
    <span class="footer-content ">
      Made with <span class="love">♥</span></a>
    </span>
  </footer>

  <br>

  <script>
    var forgetPassword = document.getElementById("forget-password");  
    var togglebutton = document.getElementByClassName("push-toggle");

    togglebutton.addEventListener("click",function(){
      forgetPassword.classList.toggle("dark-mode");
    });

  </script>

  <script src="/static/JS/login.js"></script>
  <script src="/static/JS/darkmode.js"></script>


</body>

</html>