{% extends 'base.html' %}
{% block title %}Password reset{% endblock title %}
{% block body %}
	<div class="content">
		<div class="text">Reset Password</div>
		<form action="/passwordReset/" method="post">
			{% csrf_token %} 
			<div class="field">
				<span class="fas fa-lock"></span>
				<input type="password" required name="password">
				<label>Password</label>
			</div>
            <div class="field">
				<span class="fas fa-lock"></span>
				<input type="password" required name="cpassword">
				<label>Confirm Password</label>
			</div>
			<button>submit</button>
			
		</form>
    	<!-- <button class="google"><i class="fab fa-google"></i> sign in with Google</button>
		<button class="facebook"><i class="fab fa-facebook-f"></i> sign in with Facebook</button> -->
	</div>
{% endblock body %}