{% extends 'base.html' %}
{% block title %}Sign Up Form{% endblock title %}
{% block body %}
	<div class="content">
		<div class="text">Sign Up</div>
		<form action="/signup/" method="post">
			{% csrf_token %} 
			<div class="field">
				<span class="fas fa-user"></span>
				<input type="text" required name="username">
				<label>Username</label>
			</div>
            <div class="field">
				<span class="fas fa-user"></span>
				<input type="text" required name="email">
				<label>Email</label>
			</div>
			<div class="field">
				<span class="fas fa-lock"></span>
				<input type="password" required name="password" id="password2">
				<i class="far fa-eye" id="togglePassword2"></i>
				<label>Password</label>
			</div>
            <div class="field">
				<span class="fas fa-lock"></span>
				<input type="password" required name="cpassword" id="password3">
				<i class="far fa-eye" id="togglePassword3"></i>
				<label>Confirm Password</label>
			</div>
			<button>sign Up</button>
			<div class="signup">Have a Acccount ?
				<a href="/login">signIn now</a>
			</div>
		</form>
    	<!-- <button class="google"><i class="fab fa-google"></i> sign in with Google</button>
		<button class="facebook"><i class="fab fa-facebook-f"></i> sign in with Facebook</button> -->
	</div>
	<script>
		

		const togglePassword2 = document.querySelector('#togglePassword2');
		const togglePassword3 = document.querySelector('#togglePassword3');

		const password2 = document.querySelector('#password2');
		const password3 = document.querySelector('#password3');


		togglePassword2.addEventListener('click', function (e) {
			// toggle the type attribute
			const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
			password2.setAttribute('type', type);
			// toggle the eye slash icon
			this.classList.toggle('fa-eye-slash');
		});
		togglePassword3.addEventListener('click', function (e) {
			// toggle the type attribute
			const type = password3.getAttribute('type') === 'password' ? 'text' : 'password';
			password3.setAttribute('type', type);
			// toggle the eye slash icon
			this.classList.toggle('fa-eye-slash');
		});
	</script>
{% endblock body %}