<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sign Up Form</title>
	<link rel="stylesheet" href=" {% static 'css/form.css' %} ">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<div class="content">
		<div class="text">Sign Up</div>
		<form action="/signup/" method="post">
			{% csrf_token %} 
			<div class="field">
				<span class="fas fa-user"></span>
				<input type="text" required name="username">
				<label>Username</label>
			</div>
            <div class="field">
				<span class="fas fa-user"></span>
				<input type="email" required name="email">
				<label>Email</label>
			</div>
			<div class="field">
				<span class="fas fa-lock"></span>
				<input type="password" required name="password">
				<label>Password</label>
			</div>
            <div class="field">
				<span class="fas fa-lock"></span>
				<input type="password" required name="cpassword">
				<label>Confirm Password</label>
			</div>
			<button>sign Up</button>
			<div class="signup">Have a Acccount ?
				<a href="/login">signIn now</a>
			</div>
		</form>
    	<!-- <button class="google"><i class="fab fa-google"></i> sign in with Google</button>
		<button class="facebook"><i class="fab fa-facebook-f"></i> sign in with Facebook</button> -->
	</div>

</body>
</html>