{% extends 'base.html' %}
{% block title %}Sign Up Form{% endblock title %}
{% block body %}
	<div class="content">
		<div class="text">Sign Up</div>
		<form action="/signup/" method="post">
			{% csrf_token %} 
			<div class="field">
				<span class="fas fa-user"></span>
				<input type="text" required name="username">
				<label>Username</label>
			</div>
            <div class="field">
				<span class="fas fa-user"></span>
				<input type="text" required name="email">
				<label>Email</label>
			</div>
			<div class="field">
				<span class="fas fa-lock"></span>
				<input type="password" required name="password" id="password2">
				<i class="far fa-eye" id="togglePassword2"></i>
				<label>Password</label>
			</div>
            <div class="field">
				<span class="fas fa-lock"></span>
				<input type="password" required name="cpassword" id="password3">
				<i class="far fa-eye" id="togglePassword3"></i>
				<label>Confirm Password</label>
			</div>
			<button>sign Up</button>
			<div class="signup">Have a Acccount ?
				<a href="/login">signIn now</a>
			</div>
		</form>
    	<!-- <button class="google"><i class="fab fa-google"></i> sign in with Google</button>
		<button class="facebook"><i class="fab fa-facebook-f"></i> sign in with Facebook</button> -->
	</div>
	<script src="/static/JS/showPassword.js">
	</script>
{% endblock body %}