@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
html,body{
	height: 100%;
}
body{
	display: grid;
	place-items: center;
	background: linear-gradient(16deg, rgba(254,167,186,1) 16%, rgba(255,237,204,1) 61%);
	text-align: center;
}
.content{
	width: 330px;
    background: #421921;
    border-radius: 30px;
    padding: 40px 30px;
    box-shadow: -3px -3px 7px #ffffff73,
                2px 2px 5px rgba(94,104,121,0.288);
}
.content .text{
	font-size: 33px; 
	font-weight: 600;
	margin-bottom: 35px;
	color: #ffffff; 
}
.content .field{
	height: 50px;
	width: 100%;
	display: flex;
	margin: 12px 0px;
	position: relative;
}
.field input{
	height: 100%;
	width: 100%;
	padding-left: 45px;
	font-size: 18px;
	outline: none;
	border: none;
	color: #595959;
	border-radius: 25px;
	background: #dde1e7;
	box-shadow: inset 2px 2px 5px #babecc,
	            inset -5px 5px 10px #ffffff73;
}
.field input:focus{
	box-shadow: inset 1px 1px 2px #babecc,
	            inset -1px 1px 2px #ffffff73;
}	
.field:nth-child(2){
	margin-top: 20px;
}
.field span{
	position: absolute;
	width: 50px;
	line-height: 50px;
	color: #595959;
	margin-left:  10px;
}
.field label{
	position: absolute;
	top: 50%;
	left: 45px;
	pointer-events: none;
	color: #666666;
    transform: translateY(-50%);
}
.field input:focus ~ label{
	color: #666666;
}	

.field input:valid ~ label{
	opacity: 0;
}
.forgot-pass{
	text-align: left;
	margin: 10px 0 10px 5px;
}
.forgot-pass a{
	font-size: 14px;
	color: #3498db;
	text-decoration: none;
}
.forgot-pass:hover a{
	text-decoration: underline;
}
.content button{
	margin: 15px 0;
	width: 100%;
	height: 50px;
	color: #595959;
	font-size: 17px;
	font-weight: 550;
	background: #dde1e7;
	border: none;
	outline: none;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 2px 2px 5px #babecc,
	            -5px 5px 10px #ffffff73;
}
button:hover{
	color: #3498db;
	box-shadow: inset 2px 2px 5px #babecc,
	            inset -5px 5px 10px #ffffff73;
}
.signup{
	font-size: 16px;
	color: #fcfcfc;
	margin: 10px 0;
}
.signup a{
	color: #3498db;
	text-decoration: none;
}
.signup a:hover{
	text-decoration: underline;
}
/* 
.google
{
	background-color:red;
	color: #fff;
	margin:5px;
}
.facebook {
	background-color:blue;
	color: #fff;
	margin:5px;
} */

