/* css for navbar start */
.navbar
{
background:#203a68;
font-size: 1.1rem;
box-shadow: 0 0.3rem 2rem rgb(0 0 0 / 10%);
}
.nav-link
{
color:#fff !important;
font-size:1.3rem;
}
.navbar-nav .nav-item
{
padding:0px 10px;
}
/* css for navbar ends */
#section-1
{
height:91vh;
background:url("/static/assets/pixelVibe.gif");
background-repeat:no-repeat;
background-size:100% 100%;
}
#section-2 h1
{
font-size:5rem;
font-weight:700;
}
#section-2 p
{
font-size:1.5rem;
}
#section-3 h1
{
font-size:4rem;
font-weight:700;
}
/* our team start */

.our-team{
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}

.our-team .pic:before{
    content: "";
    background: #716a9e;
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    opacity: 0.78;
    transform: scale(0);
    transition: all 0.3s ease-in-out 0s;
}

.our-team:hover .pic:before{
    transform: scale(1);
}

.our-team .pic img{
    width: 100%;
    height: auto;
}

.our-team .social{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 40%;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}

.our-team:hover .social{
    opacity: 1;
}

.our-team .social li{
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}

.our-team .social li:nth-child(1){
    transform: translate3d(22px, -19px, 0px);
}

.our-team:hover .social li:nth-child(1){
    transform: translate3d(62px, -19px, 0px);
}

.our-team .social li:nth-child(2){
    transform: translate3d(36px, 38px, 0px);
}

.our-team:hover .social li:nth-child(2){
    transform: translate3d(36px, 8px, 0px);
}

.our-team .social li:nth-child(3){
    transform: translate3d(-18px, -75px, 0px);
}

.our-team:hover .social li:nth-child(3){
    transform: translate3d(-18px, -46px, 0px);
}

.our-team .social li:nth-child(4){
    transform: translate3d(-5px, -19px, 0px);
}

.our-team:hover .social li:nth-child(4){
    transform: translate3d(-43px, -19px, 0px);
}

.our-team .social li a{
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #333;
    font-size: 16px;
    color: #fff;
    margin: 0 15px 0 0;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out 0s;
}

.our-team .social li a:hover{
    line-height: 35px;
    background: #fff;
    color: #333;
    transform: rotate(-45deg);
}

.our-team .social li a i{
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out 0s;
}

.our-team .social li a:hover i{
    transform: rotate(45deg);
}

.our-team .team-content{
    padding: 15px 10px;
    background: #fff;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}

.our-team .title{
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 12px 0;
}

.our-team small{
    display: block;
    font-size: 14px;
    color: #999;
    margin-bottom: 8px;
}

.our-team .team-layer{
    width: 100%;
    padding: 34px 10px;
    background: #f7f7f7;
    border-bottom: 2px solid #716a9e;
    position: absolute;
    bottom: -50px;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}

.our-team:hover .team-layer{
    bottom: 0;
    opacity: 1;
}

.our-team .team-layer a{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 12px 0;
    transition: all 0.3s ease-in-out 0s;
}

.our-team .team-layer a:hover{
    color: #716a9e;
}

.our-team .post{
    display: block;
    font-size: 14px;
    color: #999;
    text-transform: capitalize;
}


/* our team end */


/* new footer */
.footer p
{
font-size:1.5rem;
text-align: center;
font-weight: normal;
letter-spacing: .1rem;
color:#fff;
}
.footer-distributed {
background: #666;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
box-sizing: border-box;
width: 100%;
text-align: left;
font: bold 16px sans-serif;
padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
display: inline-block;
vertical-align: top;
}

/* Footer left */
/* The company logo */

.footer-distributed h3 {
color: #ffffff;
font: normal 36px 'Open Sans', cursive;
margin: 0;
}

.footer-distributed h3 span {
color: aqua;
}

/* Footer links */

.footer-distributed .footer-links {
color: #ffffff;
margin: 20px 0 12px;
padding: 0;
}

.footer-distributed .footer-links a {
display: inline-block;
line-height: 1.8;
font-weight: 400;
text-decoration: none;
color: inherit;
}

.footer-distributed .footer-company-name {
color: #222;
font-size: 14px;
font-weight: normal;
margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center i {
background-color: #33383b;
color: #ffffff;
font-size: 25px;
width: 38px;
height: 38px;
border-radius: 50%;
text-align: center;
line-height: 42px;
margin: 10px 15px;
vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
font-size: 17px;
line-height: 38px;
}

.footer-distributed .footer-center p {
display: inline-block;
color: #ffffff;
font-weight: 400;
vertical-align: middle;
margin: 0;
}

.footer-distributed .footer-center p span {
display: block;
font-weight: normal;
font-size: 14px;
line-height: 2;
}

.footer-distributed .footer-center p a {
color: lightseagreen;
text-decoration: none;
;
}

.footer-distributed .footer-links a:before {
content: "|";
font-weight: 300;
font-size: 20px;
left: 0;
color: #fff;
display: inline-block;
padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
content: none;
}

/* Footer Right */
.footer-distributed .footer-company-about {
line-height: 20px;
color: #fff;
font-size:1rem;
font-weight: normal;
margin: 0;
}

.footer-distributed .footer-company-about span {
display: block;
color: #ffffff;
font-size: 1.5rem;
font-weight: bold;
margin-bottom: 20px;
margin-top: 2vh;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

.footer-distributed {
font: bold 14px sans-serif;
}

.footer-distributed .footer-left,
.footer-distributed .footer-right {
display: block;
width: 100%;
text-align: center;
}

.footer-distributed .footer-center i {
margin-left: 0;
}

.footer-distributed .footer-center
{
display: block;
width: 100%;
text-align: center;
}
.footer-center .inner-footer-center
{
width:90%;
margin:auto;
text-align: center;
}
.footer-distributed .footer-company-about span {
margin-bottom:2vh;
margin-top: 7vh;
}
.footer-distributed .footer-company-about
{
margin-bottom:5vh;
}
}

/* css for social media icons start */
.rounded-social-buttons {
text-align: center;
}

.rounded-social-buttons .social-button {
display: inline-block;
position: relative;
cursor: pointer;
width: 3.125rem;
height: 3.125rem;
border: 0.125rem solid transparent;
padding: 0;
text-decoration: none;
text-align: center;
color: #fefefe;
font-size: 1.5625rem;
font-weight: normal;
line-height: 2em;
border-radius: 1.6875rem;
transition: all 0.5s ease;
margin-right: 0.25rem;
margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
-webkit-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
color: #3b5998;
background: #fefefe;
border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
color: #55acee;
background: #fefefe;
border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
color: #007bb5;
background: #fefefe;
border-color: #007bb5;
}

.rounded-social-buttons .social-button.github {
background: black;
}

.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
color: black;
background: #ffff;
border-color: black;
}

.rounded-social-buttons .social-button.instagram {
background: #d52c79;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
color: #125688;
background: #fefefe;
border-color: #125688;
}
.rounded-social-buttons .social-button.whatsapp {
background:#4ced69;
}
.rounded-social-buttons .social-button.whatsapp:hover, .rounded-social-buttons .social-button.whatsapp:focus {
color:#4ced69;
background: #fefefe;
border-color:#4ced69 ;
}
/* css for social media icons start */
/* css for footer ends here */

/* ////////////////////////////////////////////////////////////////// */


/* css for back to top start */
html {
scroll-behavior: smooth;
}
a
{
text-decoration: none;
}
#button {
display: inline-block;
background-color: #FF9800;
width: 52px;
height: 52px;
text-align: center;
border-radius: 25px;
position: fixed;
bottom: 10px;
right: 10px;
transition: background-color .3s,
opacity .5s, visibility .5s;
opacity: 0;
visibility: hidden;
z-index: 1000;
}
#button::after {
content: "\f077";
font-family: FontAwesome;
font-weight: normal;
font-style: normal;
font-size: 2em;
line-height: 50px;
color: #fff;
}
#button:hover {
cursor: pointer;
background-color: rgb(57, 26, 197);
}
#button:active {
background-color: #555;
}
#button.show {
opacity: 1;
visibility: visible;
}

/* Styles for the content section */


@media (min-width: 500px) {

#button {
margin: 30px;
}
}
/* css for back to top ends */

/* css for dark mode start */
.switch {
    position: relative;
    display: inline-block;
    width: 3.8rem;
    height: 2.1rem;
    margin-top:0.6rem;
  }
  
  /*   // Hide checkbox
   */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /*   // The slider
     */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightblue;
    transition: 0.4s ease-in-out;
  }
  
  /*   
    // Design of slider for light mode
   */
  .slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 6px;
    bottom: 6px;
    background-color: yellow;
    box-shadow: 0px 0px 5px 4px #ffd900;
    transition: 0.4s;
  }
  /*   // When theme is dark, background is dark */
  .dark-mode .slider {
    background-color: #3a2864;
  }
  
  /*    // If theme is dark, but slider is to the left, move it to the right and turn it into a moon
   */
  .dark-mode .slider:before {
    transform: translateX(26px);
    height: 3px;
    width: 3px;
    background-color: lightgrey;
    bottom: 15px;
    left: 10px;
    box-shadow: 10px -7px 0px 1px lightgrey, -4px -8px 0px 0px lightgrey, 6px 6px 0px 1px lightgrey, 5px -1px 5px 13px white, 5px -1px 0px 12px white;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .dark-mode{
    background-color: rgb(36, 35, 35);
  }
  .dark-mode .navbar
  {
  background:#172a4b;
  }
  .dark-mode #section-2 h1 , .dark-mode #section-2 p ,  .dark-mode #section-3 h1
  {
      color: #fff !important;
  }
/* css for dark mode ends */

/* for small screens media queries will be here */

@media screen and (max-width: 992px) {
#section-1
{
height:41vh;
background-repeat:no-repeat;
background-size:100% 100%;
}

#section-2 p
{
font-size:1.3rem;
}

}


  svg {
    width:100%;
  }
  .wave {
    animation: wave 3s linear;
    animation-iteration-count:infinite;
    fill: #fdb1bb;
  }
  .drop {
    fill: transparent;
    animation: drop 5s ease infinite normal;
    stroke: #4478e3;
    stroke-width:0.5;
    opacity:.6; 
    transform: translateY(80%);
  }
  .drop1 {
    transform-origin: 20px 3px;
  }
  .drop2 {
    animation-delay: 3s;
    animation-duration:3s;
    transform-origin: 25px 3px;
  }
  .drop3 {
    animation-delay: -2s;
    animation-duration:3.4s;
    transform-origin: 16px 3px;
  }
  .gooeff {
        filter: url(#goo);
  }
  #wave2 {
    animation-duration:5s;
    animation-direction: reverse;
    opacity: .6
  }
  #wave3 {
    animation-duration: 7s;
    opacity:.3;
  }
  @keyframes drop {
    0% {
      transform: translateY(80%); 
      opacity:.6; 
    }
    80% {
      transform: translateY(80%); 
      opacity:.6; 
    }
    90% { 
      transform: translateY(10%) ; 
      opacity:.6; 
    }
    100% { 
      transform: translateY(0%) scale(1.5);  
      stroke-width:0.2;
      opacity:0; 
    }
  }
  @keyframes wave {
    to {transform: translateX(-100%);}
  }
  @keyframes ball {
    to {transform: translateY(20%);}
  }
  
 /* Custom Scrollbar */
 ::-webkit-scrollbar
 {
   width: 12px;
 }
 
 ::-webkit-scrollbar-thumb
 {
   background-color: #ffb4bd;	
 }
 ::-webkit-scrollbar-thumb:hover
 {
   background-color: #ffa1b8;	
 }
 
 ::-webkit-scrollbar-button:single-button {
     background-color: rgb(255, 253, 253);
     display: block;
     background-size: 10px;
     background-repeat: no-repeat;
 }
 
 /* Up */
 ::-webkit-scrollbar-button:single-button:vertical:decrement {
     height: 16px;
     width: 16px;
     background-position: center 4px;
     background-image: url("../assets/uparrow.png");
     }
 
 /* Down */
 ::-webkit-scrollbar-button:single-button:vertical:increment {
     height: 16px;
     width: 16px;
     background-position: center 2px;
     background-image: url("../assets/downarrow.png");
 } 