/* preloader */

.folding-cube ul{
    position: absolute;
    top:8%;
    left:48%;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    
  }
  @media screen and (max-width: 768px) {
    .folding-cube ul{
      top:4%;
      left:40%;

    }
  }
  .folding-cube ul li{
    list-style: none;
    position: relative;
    width: 40px;
    height: 40px;
    float: left;
  }
  .folding-cube ul li:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin:100% 100%;
    animation: animate 3.3s linear infinite;
  }
  .folding-cube ul li:nth-child(1){
    transform: rotate(0deg);
  }
  .folding-cube ul li:nth-child(1):before{
    animation-delay: 0s;
    /* background: #f57b70; */
    background: #ff686f;
  }
  .folding-cube ul li:nth-child(2){
    transform: rotate(90deg);
  }
  .folding-cube ul li:nth-child(2):before{
    animation-delay: 0.4s;
    background:#94d4e1;
  }
  .folding-cube ul li:nth-child(3){
    transform: rotate(270deg);
  }
  .folding-cube ul li:nth-child(3):before{
    animation-delay: 1.2s;
    background:  #60b03a;
  }
  .folding-cube ul li:nth-child(4){
    transform: rotate(180deg);
  }
  .folding-cube ul li:nth-child(4):before{
    animation-delay: 0.8s;
    background: #4869a7;
  }
  @keyframes animate{
    0%{
        transform: perspective(200px) rotateX(0deg);
        opacity: 0;
    }
    10%{
        transform: perspective(200px) rotateX(-180deg);
        opacity: 0;
    }
    25%{
        transform: perspective(200px) rotateX(0deg);
        opacity: 1;
    }
    75%{
        transform: perspective(200px) rotateX(0deg);
        opacity: 1;
    }
    90%{
        transform: perspective(200px) rotateY(180deg);
        opacity: 0;
    }
    100%{
        transform: perspective(200px) rotateY(0deg);
        opacity: 0;
    }
  }
  .folding-cube{
    width: 100%;
    height: 550vh;
    overflow: hidden;
    background-color:#FFECCB;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cVijEW
  {
    z-index: 10 !important;
  }